
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 text-gray-800">Writing</h1>
    <ul class="customBreadcrumb">
        <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li>Writing</li>
    </ul>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="widget p-3">
            <h3>Essay</h3>
            <h5>71 Questions</h5>
            <p>Lorem ipsum dolor sit amet, ius et soluta iracundia. Ex dolor congue vix, eam at quaerendum liberavisse. Ornatus nominati id sea, sanctus copiosae ex qui. Est platonem deseruisse ei. Ut debitis phaedrum nec. Quo in mutat nemore, per te impetus discere mediocritatem.</p>
            <div class="text-right">
                <a [routerLink]="['/writing/essay']">Start</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="widget p-3">
            <h3>Summarize with Text</h3>
            <h5>71 Questions</h5>
            <p>Lorem ipsum dolor sit amet, ius et soluta iracundia. Ex dolor congue vix, eam at quaerendum liberavisse. Ornatus nominati id sea, sanctus copiosae ex qui. Est platonem deseruisse ei. Ut debitis phaedrum nec. Quo in mutat nemore, per te impetus discere mediocritatem.</p>
            <div class="text-right">
                <a [routerLink]="">Start</a>
            </div>
        </div>
    </div>
</div>