
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card tile listen shadow h-100 p-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fa fa-volume-up text-white"></i>
                    </div>
                    <div class="col ml-3">
                        <div class="text-xs text-gray-500 mb-1">
                            08 Tests</div>
                        <div class="h5 mb-0 text-white d-flex justify-content-between align-items-end">Listening <span><a [routerLink]="" class="text-xs text-white d-block"><i class="fa fa-arrow-right"></i></a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card tile read shadow h-100 p-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fa fa-volume-up text-white"></i>
                    </div>
                    <div class="col ml-3">
                        <div class="text-xs text-gray-500 mb-1">
                            08 Tests</div>
                        <div class="h5 mb-0 text-white d-flex justify-content-between align-items-end">Reading <span><a [routerLink]="" class="text-xs text-white d-block"><i class="fa fa-arrow-right"></i></a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card tile speak shadow h-100 p-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fa fa-volume-up text-white"></i>
                    </div>
                    <div class="col ml-3">
                        <div class="text-xs text-gray-500 mb-1">
                            08 Tests</div>
                        <div class="h5 mb-0 text-white d-flex justify-content-between align-items-end">Speaking <span><a [routerLink]="" class="text-xs text-white d-block"><i class="fa fa-arrow-right"></i></a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card tile write shadow h-100 p-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fa fa-volume-up text-white"></i>
                    </div>
                    <div class="col ml-3">
                        <div class="text-xs text-gray-500 mb-1">
                            08 Tests</div>
                        <div class="h5 mb-0 text-white d-flex justify-content-between align-items-end">Writing <span><a [routerLink]="" class="text-xs text-white d-block"><i class="fa fa-arrow-right"></i></a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>