<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 text-gray-800">Essay</h1>
    <ul class="customBreadcrumb">
        <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li><a [routerLink]="['/writing']">Writing</a></li>
        <li>Essay</li>
    </ul>
</div>
<div class="row">
    <div class="col-12">
        <div class="eassyLists">
            <div class="eassyList">
                <h3><span>1</span> Architectural Design <a>Update</a></h3>
                <div class="row mb-3">
                    <div class="col-xl-2 col-md-3 col-sm-4">
                        <h4>Frequency</h4>
                    </div>
                    <div class="col-xl-10 col-md-9 col-sm-8">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 43%">43</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-2 col-md-3 col-sm-4">
                        <h4>My Note</h4>
                    </div>
                    <div class="col-xl-10 col-md-9 col-sm-8">
                        <div class="eassyDes">
                            <p>Lorem ipsum dolor sit amet, ius et soluta iracundia. Ex dolor congue vix, eam at quaerendum liberavisse. Ornatus nominati id sea, sanctus copiosae ex qui. Est platonem deseruisse ei. Ut debitis phaedrum nec. Quo in mutat nemore, per te impetus discere mediocritatem.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eassyList">
                <h3><span>1</span> Architectural Design <a>Update</a></h3>
                <div class="row mb-3">
                    <div class="col-xl-2 col-md-3 col-sm-4">
                        <h4>Frequency</h4>
                    </div>
                    <div class="col-xl-10 col-md-9 col-sm-8">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 43%">43</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-2 col-md-3 col-sm-4">
                        <h4>My Note</h4>
                    </div>
                    <div class="col-xl-10 col-md-9 col-sm-8">
                        <div class="eassyDes">
                            <p>Lorem ipsum dolor sit amet, ius et soluta iracundia. Ex dolor congue vix, eam at quaerendum liberavisse. Ornatus nominati id sea, sanctus copiosae ex qui. Est platonem deseruisse ei. Ut debitis phaedrum nec. Quo in mutat nemore, per te impetus discere mediocritatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>